<command_mapping>

	<context>
		<dead parent="battle"/>
		<freeCam/>
		<alive parent="battle"/>
		<alive_mouse parent="battle"/>
		<ship parent="alive"/>
		<carrier parent="alive"/>
		<submarine parent="battle"/>
		<replay parent="default"/>
		<tactical/>
		<cursor parent="default"/>
		<battle parent="cursor"/>
		<sound/>
		<default parent="sound"/>
		<fake/>
	</context>

	<presets>
		<keyboard name = "preset_keyboard_1.xml"/>
		<gamepad name = "preset_gamepad_1.xml"/>
	</presets>

	<ui>
		<keyboard>
			<IDS_MOVEMENTCONTROLS>
				<CMD_MOVE_LEFT ids="IDS_MOVE_LEFT"/>
				<CMD_MOVE_RIGHT ids="IDS_MOVE_RIGHT"/>
			</IDS_MOVEMENTCONTROLS>

			<IDS_CRUISECONTROLS>
				<CRUISE_SPEED_UP ids="IDS_SPEED_UP"/>
				<CRUISE_SPEED_DOWN ids="IDS_SPEED_DOWN"/>
				<CRUISE_ANGLE_RIGHT ids="IDS_ANGLE_RIGHT"/>
				<CRUISE_ANGLE_LEFT ids="IDS_ANGLE_LEFT"/>
			</IDS_CRUISECONTROLS>

			<IDS_WEAPONGROUPS>
				<!-- CMD_NEXT_WEAPON_TYPE ids="IDS_NEXT_WEAPON_TYPE"/-->
				<!-- CMD_NEXT_WEAPON_MODE ids="IDS_NEXT_WEAPON_MODE"/-->
				<!-- CMD_SELECT_NEXT_WEAPON_MODE ids="IDS_NEXT_WEAPON_MODE"/-->
				<CMD_ARTILLERY_AMMO_0 ids="IDS_ARTILLERY_AMMO_0"/>
				<CMD_ARTILLERY_AMMO_1 ids="IDS_ARTILLERY_AMMO_1"/>
				<CMD_TORPEDOES_ANGLE ids="IDS_TORPEDOES_ANGLE"/>
				<CMD_SQUADRON_0 ids="IDS_SQUADRON_1"/>
				<CMD_SQUADRON_1 ids="IDS_SQUADRON_2"/>
				<CMD_SQUADRON_2 ids="IDS_SQUADRON_3"/>
				<CMD_SQUADRON_3 ids="IDS_SQUADRON_4"/>
				<CMD_SQUADRON_4 ids="IDS_SQUADRON_5"/>
				<CMD_SQUADRON_5 ids="IDS_SQUADRON_6"/>
				<CMD_SQUADRON_6 ids="IDS_SQUADRON_7"/>
				<CMD_SQUADRON_7 ids="IDS_SQUADRON_8"/>
				<CMD_SQUADRON_8 ids="IDS_SQUADRON_9"/>
				<CMD_MAIN_CALIBER ids="IDS_MAIN_CALIBER"/>
				<CMD_TORPEDO ids="IDS_TORPEDOES"/>
				<CMD_TORPEDO_RELOAD ids="IDS_TORPEDO_RELOAD"/>
			</IDS_WEAPONGROUPS>

			<IDS_CONSUMABLES>
				<CMD_CONSUMABLE_0 ids="IDS_CONSUMABLE_1"/>
				<CMD_CONSUMABLE_1 ids="IDS_CONSUMABLE_2"/>
				<CMD_CONSUMABLE_2 ids="IDS_CONSUMABLE_3"/>
				<CMD_CONSUMABLE_3 ids="IDS_CONSUMABLE_4"/>
				<CMD_CONSUMABLE_4 ids="IDS_CONSUMABLE_5"/>
			</IDS_CONSUMABLES>

			<IDS_CAMERACONTROLS>
				<CMD_ART_CAMERA ids="IDS_ART_CAMERA"/>
				<CMD_TRACK_OBJECT_CAMERA ids="IDS_TRACK_OBJECT_CAMERA"/>
				<CMD_TACTICAL_MAP ids="IDS_TACTICAL_MAP"/>
				<CMD_CENTERCAMERA ids="IDS_CENTERCAMERAONSHIP"/>
				<CMD_SWITCH_CAMERA ids="IDS_SWITCH_CAMERA"/>
				<CMD_OBSERVE_CAMERA ids="IDS_OBSERVE_CAMERA"/>
			</IDS_CAMERACONTROLS>

			<IDS_WEAPONCONTROLS>
				<CMD_SHOOT ids="IDS_COMMAND_SHOOT"/>
				<CMD_FIXING_TARGET_POSITION ids="IDS_FIXING_TARGET_POSITION"/>
				<CMD_CINEMATIC_SHOOT ids="IDS_CINEMATIC_SHOOT"/>
				<CMD_SWITCH_ATBA_AIRDEFENSE ids="IDS_DISABLING_AA_AND_ATBA"/>
			</IDS_WEAPONCONTROLS>

			<IDS_AIRPLANESCONTROLS>
				<CMD_SELECT_NEXT_AIRPLANE ids="IDS_SELECT_NEXT_AIRPLANE"/>
				<CMD_SELECT_ALL_AIRPLANES ids="IDS_SELECT_ALL_AIRPLANES"/>
				<CMD_CARRIER_SELECT ids="IDS_CARRIER_SELECT"/>
				<CMD_LAND_LAUNCH ids="IDS_LAND_LAUNCH"/>
			</IDS_AIRPLANESCONTROLS>

			<IDS_MINIMAPCONTROLS>
				<MAP_SCALE_PLUS ids="IDS_MAP_SCALE_PLUS"/>
				<MAP_SCALE_MINUS ids="IDS_MAP_SCALE_MINUS"/>
				<MAP_RECT_ATTENTION ids="IDS_MAP_RECT_ATTENTION"/>
			</IDS_MINIMAPCONTROLS>

			<IDS_OTHERCONTROLS>
				<CMD_FREE_CURSOR ids="IDS_FREE_CURSOR"/>
				<CMD_ICONS ids="IDS_EXPANDED_INFO"/>
				<CMD_GAME_STATS ids="IDS_SHOWGAMESTATS"/>
				<CMD_HELP ids="IDS_SHOWHELP"/>
				<CMD_SHIP_PARAMS ids="IDS_SHIP_PARAMS_HOTKEY"/>
				<CMD_DIVISION_INVITATION_ACCEPT ids="IDS_ACCEPT_DIVISION_INVITATION_IN_BATTLE"/>
				<CMD_DIVISION_INVITATION_DECLINE ids="IDS_DECLINE_DIVISION_INVITATION_IN_BATTLE"/>
				<CMD_NEXT_SOUND_TRACK ids="IDS_NEXT_SOUND_TRACK"/>
				<CMD_PREV_SOUND_TRACK ids="IDS_PREV_SOUND_TRACK"/>
				<CMD_HIDE_INTERFACE ids="IDS_HIDE_INTERFACE"/>
				<CMD_FOGHORN ids="IDS_FOGHORN"/>
			</IDS_OTHERCONTROLS>

			<IDS_QUICK_COMMANDS>
				<CMD_QUICK_COMMANDS_WINDOW ids="IDS_CMD_QUICK_COMMANDS_WINDOW"/>
				<CMD_QUICK_NO_WAY ids="IDS_CMD_QUICK_NO_WAY_MESSAGE"/>
				<CMD_QUICK_TACTIC ids="IDS_CMD_QUICK_TACTIC_MESSAGE"/>
				<CMD_QUICK_AYE_AYE ids="IDS_CMD_QUICK_AYE_AYE_MESSAGE"/>
				<CMD_QUICK_NEED_SUPPORT ids="IDS_CMD_QUICK_NEED_SUPPORT_MESSAGE"/>
				<CMD_QUICK_NEED_AIR_DEFENCE ids="IDS_CMD_QUICK_NEED_AIR_DEFENCE_MESSAGE"/>
				<CMD_QUICK_NEED_VISION ids="IDS_CMD_QUICK_NEED_VISION_MESSAGE"/>
				<CMD_QUICK_NEED_SMOKE ids="IDS_CMD_QUICK_NEED_SMOKE_MESSAGE"/>
				<CMD_QUICK_BACK ids="IDS_CMD_QUICK_BACK_MESSAGE"/>
				<CMD_QUICK_GOOD_LUCK ids="IDS_CMD_QUICK_GOOD_LUCK_MESSAGE_LEGEND"/>
				<CMD_QUICK_GOOD_GAME ids="IDS_CMD_QUICK_GOOD_GAME_MESSAGE"/>
				<CMD_QUICK_THANK_YOU ids="IDS_CMD_QUICK_THANK_YOU_MESSAGE"/>
				<CMD_QUICK_CARAMBA ids="IDS_CMD_QUICK_CARAMBA_MESSAGE"/>
			</IDS_QUICK_COMMANDS>

			<IDS_VOICE_CHAT_SETTINGS>
				<CMD_VOICE_CHAT_TALK ids="IDS_VOICE_CHAT_SETTINGS"/>
			</IDS_VOICE_CHAT_SETTINGS>

			<IDS_CAMERA_SETTINGS>
				<CMD_ZOOM_IN ids="IDS_ZOOM_IN"/>
				<CMD_ZOOM_OUT ids="IDS_ZOOM_OUT"/>
				<CMD_CAMERA_MOVE_UP ids="IDS_CAMERA_MOVE_UP"/>
				<CMD_CAMERA_MOVE_DOWN ids="IDS_CAMERA_MOVE_DOWN"/>
				<CMD_CAMERA_MOVE_LEFT ids="IDS_CAMERA_MOVE_LEFT"/>
				<CMD_CAMERA_MOVE_RIGHT ids="IDS_CAMERA_MOVE_RIGHT"/>
				<CMD_NEXT_ALLIED_VEHICLE ids="IDS_NEXT_ALLIED_VEHICLE"/>
				<CMD_PREV_ALLIED_VEHICLE ids="IDS_PREV_ALLIED_VEHICLE"/>
				<CMD_SELECTED_ALLIED_VEHICLE ids="IDS_SPECTATE_SHIP_AT_CROSSHAIR"/>
			</IDS_CAMERA_SETTINGS>

			<IDS_SUBMARINE_SETTINGS>
				<CRUISE_DEEP_UP ids="IDS_MOVE_UP"/>
				<CRUISE_DEEP_DOWN ids="IDS_MOVE_DOWN"/>
				<CMD_SELECT_TORPEDO_GROUP_0 ids="IDS_SELECT_TORPEDO_GROUP_0"/>
				<CMD_SELECT_TORPEDO_GROUP_1 ids="IDS_SELECT_TORPEDO_GROUP_1"/>
				<CMD_SELECT_TORPEDO_GROUP_2 ids="IDS_SELECT_TORPEDO_GROUP_2"/>
				<CMD_SELECT_TORPEDO_GROUP_3 ids="IDS_SELECT_TORPEDO_GROUP_3"/>
			</IDS_SUBMARINE_SETTINGS>

		</keyboard>
		<gamepad>
			<IDS_MOVEMENTCONTROLS>
				<CMD_MOVE_LEFT ids="IDS_MOVE_LEFT"/>
				<CMD_MOVE_RIGHT ids="IDS_MOVE_RIGHT"/>
			</IDS_MOVEMENTCONTROLS>

			<IDS_CRUISECONTROLS>
				<CRUISE_SPEED_UP ids="IDS_SPEED_UP"/>
				<CRUISE_SPEED_DOWN ids="IDS_SPEED_DOWN"/>
				<CRUISE_ANGLE_RIGHT ids="IDS_ANGLE_RIGHT"/>
				<CRUISE_ANGLE_LEFT ids="IDS_ANGLE_LEFT"/>
			</IDS_CRUISECONTROLS>

			<IDS_WEAPONGROUPS>
				<!-- CMD_NEXT_WEAPON_TYPE ids="IDS_NEXT_WEAPON_TYPE"/-->
				<!-- CMD_NEXT_WEAPON_MODE ids="IDS_NEXT_WEAPON_MODE"/-->
				<!-- CMD_SELECT_NEXT_WEAPON_MODE ids="IDS_NEXT_WEAPON_MODE"/-->
				<CMD_ARTILLERY_AMMO_0 ids="IDS_ARTILLERY_AMMO_0"/>
				<CMD_ARTILLERY_AMMO_1 ids="IDS_ARTILLERY_AMMO_1"/>
				<CMD_TORPEDOES_ANGLE ids="IDS_TORPEDOES_ANGLE"/>
				<CMD_SQUADRON_0 ids="IDS_SQUADRON_1"/>
				<CMD_SQUADRON_1 ids="IDS_SQUADRON_2"/>
				<CMD_SQUADRON_2 ids="IDS_SQUADRON_3"/>
				<CMD_SQUADRON_3 ids="IDS_SQUADRON_4"/>
				<CMD_SQUADRON_4 ids="IDS_SQUADRON_5"/>
				<CMD_SQUADRON_5 ids="IDS_SQUADRON_6"/>
				<CMD_SQUADRON_6 ids="IDS_SQUADRON_7"/>
				<CMD_SQUADRON_7 ids="IDS_SQUADRON_8"/>
				<CMD_SQUADRON_8 ids="IDS_SQUADRON_9"/>
				<CMD_MAIN_CALIBER ids="IDS_MAIN_CALIBER"/>
				<CMD_TORPEDO ids="IDS_TORPEDOES"/>
				<CMD_TORPEDO_RELOAD ids="IDS_TORPEDO_RELOAD"/>
			</IDS_WEAPONGROUPS>

			<IDS_CONSUMABLES>
				<CMD_CONSUMABLE_0 ids="IDS_CONSUMABLE_1"/>
				<CMD_CONSUMABLE_1 ids="IDS_CONSUMABLE_2"/>
				<CMD_CONSUMABLE_2 ids="IDS_CONSUMABLE_3"/>
				<CMD_CONSUMABLE_3 ids="IDS_CONSUMABLE_4"/>
				<CMD_CONSUMABLE_4 ids="IDS_CONSUMABLE_5"/>
			</IDS_CONSUMABLES>

			<IDS_CAMERACONTROLS>
				<CMD_ART_CAMERA ids="IDS_ART_CAMERA"/>
				<CMD_TRACK_OBJECT_CAMERA ids="IDS_TRACK_OBJECT_CAMERA"/>
				<CMD_TACTICAL_MAP ids="IDS_TACTICAL_MAP"/>
				<CMD_CENTERCAMERA ids="IDS_CENTERCAMERAONSHIP"/>
				<CMD_SWITCH_CAMERA ids="IDS_SWITCH_CAMERA"/>
				<CMD_OBSERVE_CAMERA ids="IDS_OBSERVE_CAMERA"/>
			</IDS_CAMERACONTROLS>

			<IDS_WEAPONCONTROLS>
				<CMD_SHOOT ids="IDS_COMMAND_SHOOT"/>
				<CMD_FIXING_TARGET_POSITION ids="IDS_FIXING_TARGET_POSITION"/>
				<CMD_CINEMATIC_SHOOT ids="IDS_CINEMATIC_SHOOT"/>
				<CMD_SWITCH_ATBA_AIRDEFENSE ids="IDS_DISABLING_AA_AND_ATBA"/>
			</IDS_WEAPONCONTROLS>

			<IDS_AIRPLANESCONTROLS>
				<CMD_SELECT_NEXT_AIRPLANE ids="IDS_SELECT_NEXT_AIRPLANE"/>
				<CMD_SELECT_ALL_AIRPLANES ids="IDS_SELECT_ALL_AIRPLANES"/>
				<CMD_CARRIER_SELECT ids="IDS_CARRIER_SELECT"/>
				<CMD_LAND_LAUNCH ids="IDS_LAND_LAUNCH"/>
			</IDS_AIRPLANESCONTROLS>

			<IDS_MINIMAPCONTROLS>
				<MAP_SCALE_PLUS ids="IDS_MAP_SCALE_PLUS"/>
				<MAP_SCALE_MINUS ids="IDS_MAP_SCALE_MINUS"/>
				<MAP_RECT_ATTENTION ids="IDS_MAP_RECT_ATTENTION"/>
			</IDS_MINIMAPCONTROLS>

			<IDS_OTHERCONTROLS>
				<CMD_FREE_CURSOR ids="IDS_FREE_CURSOR"/>
				<CMD_ICONS ids="IDS_EXPANDED_INFO"/>
				<CMD_GAME_STATS ids="IDS_SHOWGAMESTATS"/>
				<CMD_HELP ids="IDS_SHOWHELP"/>
				<CMD_SHIP_PARAMS ids="IDS_SHIP_PARAMS_HOTKEY"/>
				<CMD_DIVISION_INVITATION_ACCEPT ids="IDS_ACCEPT_DIVISION_INVITATION_IN_BATTLE"/>
				<CMD_DIVISION_INVITATION_DECLINE ids="IDS_DECLINE_DIVISION_INVITATION_IN_BATTLE"/>
				<CMD_NEXT_SOUND_TRACK ids="IDS_NEXT_SOUND_TRACK"/>
				<CMD_PREV_SOUND_TRACK ids="IDS_PREV_SOUND_TRACK"/>
				<CMD_HIDE_INTERFACE ids="IDS_HIDE_INTERFACE"/>
				<CMD_FOGHORN ids="IDS_FOGHORN"/>
			</IDS_OTHERCONTROLS>

			<IDS_QUICK_COMMANDS>
				<CMD_QUICK_COMMANDS_WINDOW ids="IDS_CMD_QUICK_COMMANDS_WINDOW"/>
				<CMD_QUICK_NO_WAY ids="IDS_CMD_QUICK_NO_WAY_MESSAGE"/>
				<CMD_QUICK_TACTIC ids="IDS_CMD_QUICK_TACTIC_MESSAGE"/>
				<CMD_QUICK_AYE_AYE ids="IDS_CMD_QUICK_AYE_AYE_MESSAGE"/>
				<CMD_QUICK_NEED_SUPPORT ids="IDS_CMD_QUICK_NEED_SUPPORT_MESSAGE"/>
				<CMD_QUICK_NEED_AIR_DEFENCE ids="IDS_CMD_QUICK_NEED_AIR_DEFENCE_MESSAGE"/>
				<CMD_QUICK_NEED_VISION ids="IDS_CMD_QUICK_NEED_VISION_MESSAGE"/>
				<CMD_QUICK_NEED_SMOKE ids="IDS_CMD_QUICK_NEED_SMOKE_MESSAGE"/>
				<CMD_QUICK_BACK ids="IDS_CMD_QUICK_BACK_MESSAGE"/>
				<CMD_QUICK_GOOD_LUCK ids="IDS_CMD_QUICK_GOOD_LUCK_MESSAGE_LEGEND"/>
				<CMD_QUICK_GOOD_GAME ids="IDS_CMD_QUICK_GOOD_GAME_MESSAGE"/>
				<CMD_QUICK_THANK_YOU ids="IDS_CMD_QUICK_THANK_YOU_MESSAGE"/>
				<CMD_QUICK_CARAMBA ids="IDS_CMD_QUICK_CARAMBA_MESSAGE"/>
			</IDS_QUICK_COMMANDS>

			<IDS_VOICE_CHAT_SETTINGS>
				<CMD_VOICE_CHAT_TALK ids="IDS_VOICE_CHAT_SETTINGS"/>
			</IDS_VOICE_CHAT_SETTINGS>

			<IDS_CAMERA_SETTINGS>
				<CMD_ZOOM_IN ids="IDS_ZOOM_IN"/>
				<CMD_ZOOM_OUT ids="IDS_ZOOM_OUT"/>
				<CMD_CAMERA_MOVE_UP ids="IDS_CAMERA_MOVE_UP"/>
				<CMD_CAMERA_MOVE_DOWN ids="IDS_CAMERA_MOVE_DOWN"/>
				<CMD_CAMERA_MOVE_LEFT ids="IDS_CAMERA_MOVE_LEFT"/>
				<CMD_CAMERA_MOVE_RIGHT ids="IDS_CAMERA_MOVE_RIGHT"/>
				<CMD_NEXT_ALLIED_VEHICLE ids="IDS_NEXT_ALLIED_VEHICLE"/>
				<CMD_PREV_ALLIED_VEHICLE ids="IDS_PREV_ALLIED_VEHICLE"/>
				<CMD_SELECTED_ALLIED_VEHICLE ids="IDS_SPECTATE_SHIP_AT_CROSSHAIR"/>
			</IDS_CAMERA_SETTINGS>

		</gamepad>

	</ui>

</command_mapping>